<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <title>商品一覧</title>
</head>

<body>
    <div class="contents">
        <div class="container">
            <h1>商品一覧</h1>
            <table class="table table-hover table-bordered">
                <thead>
                    <th>#</th>
                    <th>商品名</th>
                    <th>内容量</th>
                    <th>価格</th>
                    <th>カロリー(100g)</th>
                    <th></th>
                </thead>
                <tbody>
                    <tr th:each="item : ${items}">
                        <td class="col-xs-1" th:text="${item.id}">ID</td>
                        <td class="col-xs-3"th:text="${item.name}">商品名</td>
                        <td class="col-xs-2"th:text="${item.capacity} + 'g'">内容量</td>
                        <td class="col-xs-2"th:text="${item.price} + '円'">価格</td>
                        <td class="col-xs-2"th:text="${item.calorie} + 'kcal'">カロリー</td>
                        <td class="col-xs-2"><a href="/item/edit/" th:href="@{/item/edit/{id}(id=${item.id})}">詳細</a></td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-sm-12 text-right">
                    <a href="/item/regist" th:href="@{/item/regist}">
                        <button type="button" class="btn btn-primary">新規</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    <script src="/js/jquery-3.4.1.min"></script>
    <script src="/js/bootstrap.min.js"></script>
</footer>

</html>