<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <title>商品登録</title>
</head>

<body>
    <div class="contents">
        <div class="container">
            <h1>新規登録</h1>
            <form class="form-horizontal" method="POST" action="/item" th:action="@{/item/regist}"
                th:object="${itemForm}">
                <div class="form-group row">
                    <label for="itemName" class="col-sm-1 control-label col-form-label">商品名</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="name" id="itemName" th:errorclass="fieldError">
                        <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="capacity" class="col-sm-1 control-label col-form-label">内容量</label>
                    <div class="col-sm-2">
                        <input type="text" min="0" max="99999" class="form-control" name="capacity" id="capacity">
                        <p class="text-danger" th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}"></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="price" class="col-sm-1 control-label col-form-label">価格</label>
                    <div class="col-sm-2">
                        <input type="number" min="0" max="99999" class="form-control" name="price" id="price">
                        <p class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="calorie" class="col-sm-1 control-label col-form-label">カロリー</label>
                    <div class="col-sm-2">
                        <input type="number" min="0" max="99999" class="form-control" name="calorie" id="calorie">
                        <p class="text-danger" th:if="${#fields.hasErrors('calorie')}" th:errors="*{calorie}"></p>
                    </div>
                </div>                       
                <div class="form-group row">
                    <div class="col-sm-5 text-right">
                        <input type="reset" class="btn btn-outline-warning" value="クリア">
                        <input type="submit" class="btn btn-primary" value="登録">
                    </div>                    
                </div>
                <div class="col-sm-5 center-block">
                    <a href="/item" th:href="@{/item}">
                        <button type="button" class="btn btn-outline-info btn-lg">戻る</button>
                    </a>
                </div>
            </form>
        </div>
    </div>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
<footer>

</footer>

</html>