<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <title>顧客編集</title>
</head>

<body>
    <div class="contents">
        <div class="container">
            <h1>編集</h1>
            <form method="POST" class="mb-5" action="/manage/customer"
                th:action="@{/manage/customer/edit/{id}(id=*{id})}" th:object="${customerForm}">
                <div class="form-group row">
                    <label for="id" class="col-sm-2 control-label col-form-label">顧客ID</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="id" th:field="*{id}" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="name" class="col-sm-2 control-label col-form-label">顧客名</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="name" name="name" th:field="*{name}"
                            th:errorclass="fieldError">
                        <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-sm-2 control-label col-form-label">メールアドレス</label>
                    <div class="col-sm-5">
                        <input type="email" class="form-control" id="email" th:field="*{email}" th:errorclass="fieldError">
                        <p class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="password" class="col-sm-2 control-label col-form-label">パスワード</label>
                    <div class="col-sm-3">
                        <input type="password" class="form-control" id="password" name="password" th:value="*{password}" th:errorclass="fieldError">
                        <p class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="passwordConfirm" class="col-sm-2 control-label col-form-label">パスワード（確認）</label>
                    <div class="col-sm-3">
                        <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" th:value="*{passwordConfirm}" th:errorclass="fieldError">
                        <p class="text-danger" th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}"></p>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-7 text-right">
                        <input type="submit" class="btn btn-warning" name="delete" value="削除">                        
                        <input type="submit" class="btn btn-primary" name="update" value="更新">
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="mx-auto">
                        <a href="/manage/customer" th:href="@{/manage/customer}">
                            <button type="button" class="btn btn-outline-info btn-lg">戻る</button>
                        </a>
                    </div>
                </div>
            </form>
            <div>
                <h2>購入履歴</h2>
                <div>
                    <div class="border border-secondary">
                        <form method="GET" th:action="@{/manage/customer/edit/{id}(id=*{id})}" th:object="${customerForm}">
                            <div class="form-group row mt-1 mb-1">
                                <label class="col-sm-1 control-label col-form-label">購入日</label>
                                <div class="col-sm-10">
                                    <input type="date" th:field="*{fromDate}"> ～ <input type="date" th:field="*{toDate}">
                                </div>
                            </div>
                            <div class="form-group row mb-1">
                                <label class="col-sm-1 control-label col-form-label">購入商品</label>
                                <div class="col-sm-10">
                                    <select name="selectedItem" class="mt-1">
                                        <option ></option>---</option>
                                        <option th:each="item : *{items}" th:value="${item.id}" th:selected="${item.id} == *{selectedItem}" th:inline="text">[[${item.id}]]：[[${item.name}]]</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row mb-1 text-right">
                                <div class="col-sm-12">
                                    <input type="submit" class="btn btn-success" value="検索">     
                                    <input type="reset" class="btn btn-warning" value="クリア">        
                                </div>
                            </div>
                        </form>
                    </div>
                    <div th:if="${#lists.isEmpty(customerForm.purchaseHistories) == false}">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <th>取引日付</th>
                                <th>商品名</th>
                                <th>個数</th>
                                <th>金額</th>
                            </thead>
                            <tbody>
                                <tr th:each="history : ${customerForm.purchaseHistories}">
                                    <td class="col-xs-3" th:text=${history.purchaseAt}>取引日付</td>
                                    <td class="col-xs-3" th:text=${history.item.name}>商品名</td>
                                    <td class="col-xs-2" th:text=${history.number}>個数</td>
                                    <td class="col-xs-2" th:text=${history.payment}>金額</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div th:if="${#lists.isEmpty(customerForm.purchaseHistories) == true}">
                        <p>購入履歴はありません</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>