<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <title>商品編集</title>
</head>

<body>
    <div class="contents">
        <div class="container">
            <h1>編集</h1>
            <form method="POST" action="/manage/item" th:action="@{/manage/item/edit/{id}(id=*{id})}"
                th:object="${itemForm}">
                <div class="form-group row">
                    <label for="id" class="col-sm-1 control-label col-form-label">商品ID</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="id" th:field="*{id}" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="itemName" class="col-sm-1 control-label col-form-label">商品名</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="itemName" name="name" th:field="*{name}"
                            th:errorclass="fieldError">
                        <p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="capacity" class="col-sm-1 control-label col-form-label">内容量</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="capacity" th:field="*{capacity}" th:errorclass="fieldError">
                        <p class="text-danger" th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}"></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="price" class="col-sm-1 control-label col-form-label">価格</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="price" th:field="*{price}" th:errorclass="fieldError">
                        <p class="text-danger" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></p>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="calorie" class="col-sm-1 control-label col-form-label">カロリー</label>
                    <div class="col-sm-2">
                        <input type="text" class="form-control" id="calorie" th:field="*{calorie}" th:errorclass="fieldError">
                        <p class="text-danger" th:if="${#fields.hasErrors('calorie')}" th:errors="*{calorie}"></p>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-5 text-right">
                        <input type="submit" class="btn btn-warning" name="delete" value="削除">                        
                        <input type="submit" class="btn btn-primary" name="update" value="更新">
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="mx-auto">
                        <a href="/manage/item" th:href="@{/manage/item}">
                            <button type="button" class="btn btn-outline-info btn-lg">戻る</button>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>